.mylogo {
height:61px;
width:64px;
}

.mainlogo {
height:180px;
width:180px;
}



.dividercontact {
  	background-image: url('../img/bg/delft.jpg')
 }

 .dividercode {
  	background-image: url('../img/bg/code.jpg')
 }
.dividercoding {
    background-image: url('../img/bg/coding-6C.jpg')
 }



.mylink a:link {color:#000000;}    /* unvisited link */
.mylink a:visited {color:#000000;} /* visited link */
.mylink a:hover {color:#3498db;}   /* mouse over link */
.mylink a:active {color:#000000;}  /* selected link */


#contact a:link {color:#ffffff;}    /* unvisited link */
#contact a:visited {color:#ffffff;} /* visited link */
#contact a:hover {color:#3498db;}   /* mouse over link */
#contact a:active {color:#ffffff;}  /* selected link */